.bg-login {
        background-color: #757671;
}

.erro {font-size: 14rem; color: white;}
.ops {font-size: 1.5rem;}

.btn-aprovar {
        color: #fff;
        background-color: #00c292!important;
        border-color: #04c394!important;
}

.mar-top-18 {
        margin-top:18px;
}

.font-600 {
        font-weight: 600;
}

.modal-footer {
        justify-content: center;
        border-top: 0px solid #fff !important;
}

.modal-titulo {
        text-align: center;
        font-weight: 600;
        color: #6c757d;
}

.modal-header .close {
        margin: -40px -5px -1rem auto !important;
}

.pad-right-15 {
        padding-right: 17px !important;
}